body{
    background: #E5E5E5;
}
ul li label{
    display: none;
}
.container-fulid{
    width: 120%;
}
.rowoverlay{
    position: absolute;
    top: 0;
    left:0;
    z-index:1;
    bottom:0;
    right:0;
    height:100%;
    width: 100%;
} 
.coloverlay{
    background: #193566;
    border-radius: 20px;
    height: 100%;
    margin-left: 3%;
    width: 6%;
}
.listIcon{
    position: absolute;
    top: 30px;
    left: 34px;
}
.dashboardIcon{
    position: absolute;
    top: 170px;
    left: 9px;
    background: white;
    border-radius: 3px;
    padding: 5px 5px;
}
.calendarIcon{
    position: absolute;
    top: 230px;
    left: 15px;
}
.clientIcon{
    position: absolute;
    top: 260px;
    left: 15px;
}
.staffIcon{
    position: absolute;
    top: 290px;
    left: 15px;
}
.serviceIcon{
    position: absolute;
    top: 320px;
    left: 15px;
}
.title{
    color: #193566;
    margin-left: 8px;
    font-family: Poppins;
    font-style: normal;
    font-size: 40px;
    line-height: 75px;
}
.appointment{
    border: none;
    background: #193566;
    color: #ECF0F3;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: -7px -7px 15px #FFFFFF, 7px 7px 14px rgba(151, 167, 195, 0.3);
    border-radius: 100px;
    padding: 2px 30px;
    margin-top: 16px;
    margin-left: -20px;
}
.bellIcon{
    border: none;
    border-radius: 30px;
    padding: 5px 6px;
    margin-top: 19px;
    margin-left: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.settingIcon{
    border: none;
    border-radius: 30px;
    padding: 5px 6px;
    margin-top: 19px;
    margin-left: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.layout{
    background: #ECF0F3;
    box-shadow: -8px -8px 16px #FFFFFF, 10px 10px 20px rgba(151, 167, 195, 0.3);
    border-radius: 15px;
}
.sales{
    width: 230px;
    height: 210px;
    margin-left: 22px;
    font-family: Poppins;
    font-style: normal;
    color: #193566;
}
.sales .totalsales{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 10px;   
}
.sales .amount{
    font-weight: normal;
    font-size: 40px;
    line-height: 64px;
    margin-top: 12px;
    margin-left: 10px;
}
.sales .view{
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    background: #ECF0F3;
    box-shadow: -8px -8px 16px #FFFFFF, 10px 10px 20px rgba(151, 167, 195, 0.3);
    border-radius: 5px;
}
.total-visit{
    width: 230px;
    height: 210px;
    margin-left: 28px;
    font-family: Poppins;
    font-style: normal;
    color: #193566;
}
.total-visit .totalvisit{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.total-visit .clients{
    font-weight: normal;
    font-size: 40px;
    line-height: 64px;
    margin-top: 12px;
    margin-left: 10px;
}
.total-visit .view{
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    background: #ECF0F3;
    box-shadow: -8px -8px 16px #FFFFFF, 10px 10px 20px rgba(151, 167, 195, 0.3);
    border-radius: 5px;
}

.lounge{
    width: 485px;
    height: 298px;
    margin-left: 22px;
    margin-top: 20px;
}
.service-provider{
    width: 200px;
    height: 350px;
    margin-left: -45px;
}
.total-appointment{
    width: 200px;
    height: 156px;
    margin-top: 22px;
    margin-left: -45px;
}
.upcoming-appointment{
    width: 435px;
    height: 300px;
    margin-left: -50px;    
}
.popular-hour{
    width: 435px;
    height: 206px;
    margin-top: 22px;
    margin-left: -50px;
}

@media only screen and (max-width: 600px) {
    .rowoverlay{
        height: 100%;
    }
    .coloverlay{
        width: 17%;
        height: 100%;
        border-radius: 10px;
    }
    .listIcon{
        position: absolute;
        top: 28.87px;
        left: 25px;
    } 
    .dashboardIcon{
        position: absolute;
        top: 200px;
        left: 1px;
        background: white;
        padding: 4px 4px;
        border-radius: 3px;
    }
    .calendarIcon{
        position: absolute;
        top: 270px;
        left: 7px;
    }
    .clientIcon{
        position: absolute;
        top: 320px;
        left: 7px;
    }
    .staffIcon{
        position: absolute;
        top: 370px;
        left: 7px;
    }
    .serviceIcon{
        position: absolute;
        top: 420px;
        left: 7px;
    } 
    .title{
        margin-left: 45px;
        font-size: 35px;
    } 
    .appointment{
        margin-left: 40px;
        margin-top: 0px;
        float: left;
        font-size: 18px;
    }
    .bellIcon{
        margin-top: 5px;
        margin-left: 15px;
        float: left;
    }
    .settingIcon{
        margin-top: 4px;
        margin-left: 15px;
    }
    .col-lg-5{
        margin-top: 30px;
        margin-left: 30px;
    }
    .col-lg-2{
        margin-top: 30px;
        margin-left: 30px;
    }
    .sales{

    }
    .total-visit{

    }
    .lounge{
        width: 258px;
        height: 298px;
    }
    .service-provider{
        
    }
    .total-appointment{
        
    }
    .upcoming-appointment{
        width: 258px;
        height: 300px;
    }
    .popular-hour{
        width: 258px;
        height: 206px;
    }
    .layout-scroll{
        position: absolute;
        overflow-y: scroll;
        height: 81.5%;
        width: 92%;
        margin-top: 20px;
    }  
}



